<div class="container">
  <h3>Lista de Turmas</h3>

  <a href="#" routerLink="/turma/novo/" class="btn btn-success float-right mb-2"
    >Novo</a
  >

  <div class="panel panel-default">
    <div class="panel-body">
      <form class="mb-2">
        <div class="form-row">
          <div class="col">
            <select
              class="custom-select"
              (change)="onEscolaSelecionada($event)"
            >
              <option *ngFor="let escola of escolas" [value]="escola.id">
                {{ escola.nome }}
              </option>
            </select>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              (click)="listarTurmasDaEscola()"
            >
              Pesquisar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>Escola</th>
      <th>Ano</th>
      <th>Curso</th>
      <th>Serie</th>
      <th>Nome</th>
      <th width="220px">Ações</th>
    </tr>
    <tr *ngFor="let turma of turmas">
      <td>{{ turma.escolaNome }}</td>
      <td>{{ turma.ano }}</td>
      <td>{{ turma.curso }}</td>
      <td>{{ turma.serie }}</td>
      <td>{{ turma.nome }}</td>
      <td>
        <a
          href="#"
          [routerLink]="['/turma/', escolaSelecionada, turma.id, 'editar']"
          class="btn btn-primary mr-1 mb-2"
          >Editar</a
        >
        <button
          type="button"
          (click)="excluirTurma(turma.id)"
          class="btn btn-danger mb-2"
        >
          Excluir
        </button>
      </td>
    </tr>
  </table>
</div>
