<div class="container">
    <h3>Inserir nova escola</h3>

    <form [formGroup]="form" (ngSubmit)="salvar()">

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input formControlName="nome" id="nome" type="text" class="form-control">
            <div *ngIf="f.nome.touched && f.nome.invalid" class="alert alert-danger">
                <div *ngIf="f.nome.errors.required">Nome é obrigatório.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="numeroInep">Número INEP</label>
            <input formControlName="numeroInep" id="numeroInep" type="number" class="form-control">
            <div *ngIf="f.numeroInep.touched && f.numeroInep.invalid" class="alert alert-danger">
                <div *ngIf="f.numeroInep.errors.required">Número INEP é obrigatório.</div>
            </div>
        </div>

        <a href="#" routerLink="/escola/index" class="btn btn-danger mr-1">Cancelar</a>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Salvar</button>
    </form>
</div>